word => pos
pos word::~~5 => pos
pos word::5~~ => pos
pos word::++5 => pos
pos word::--5 => pos
pos word::5-- => pos
pos word::~~4 => pos
pos word::4~~ => pos
pos word::4++ => pos
pos word::++4 => pos
pos word::--4 => pos
pos word::4-- => pos
pos word::~~3 => pos
pos word::3~~ => pos
pos word::++3 => pos
pos word::3++ => pos
pos word::3-- => pos
pos word::--3 => pos
pos word::~~2 => pos
pos word::2~~ => pos
pos word::--2 => pos
pos word::2-- => pos
pos word::++2 => pos
pos word::2++ => pos
pos word::~~1 => pos
pos word::1~~ => pos
pos word::++1 => pos
pos word::1++ => pos
pos word::--1 => pos
pos word::1-- => pos
pos word::1<> => pos
pos word^^1 => pos
pos word^^-1 => pos
word::5~~ => pos
word::~~5 => pos
word::--5 => pos
word::5-- => pos
word::4~~ => pos
word::~~4 => pos
word::4++ => pos
word::++4 => pos
word::--4 => pos
word::4-- => pos
word::~~3 => pos
word::3~~ => pos
word::++3 => pos
word::3++ => pos
word::3-- => pos
word::--3 => pos
word::~~2 => pos
word::2~~ => pos
word::--2 => pos
word::2-- => pos
word::++2 => pos
word::2++ => pos
word::~~1 => pos
word::1~~ => pos
word::1<> => pos
word::++1 => pos
word::1++ => pos
word::--1 => pos
word::1-- => pos
word^^-1 => pos
word^^1 => pos
