lemmas_in_a_20_window = {lemma0c,lemma1c,lemma2c,lemma3c,lemma4c,lemma5c,lemma6c,lemma7c,lemma8c,lemma9c,lemma10c,lemma11c,lemma12c,lemma13c,lemma14c,lemma15c,lemma16c,lemma17c,lemma18c,lemma19c,lemma20c,lemma21c,lemma22c,lemma23c,lemma24c,lemma25c,lemma26c,lemma27c,lemma28c,lemma29c,lemma30c,lemma31c,lemma32c,lemma33c,lemma34c,lemma35c,lemma36c,lemma37c,lemma38c,lemma39c,lemma40c}
words_in_a_20_window = {word0c,word1c,word2c,word3c,word4c,word5c,word6c,word7c,word8c,word9c,word10c,word11c,word12c,word13c,word14c,word15c,word16c,word17c,word18c,word19c,word20c,word21c,word22c,word23c,word24c,word25c,word26c,word27c,word28c,word29c,word30c,word31c,word32c,word33c,word34c,word35c,word36c,word37c,word38c,word39c,word40c}
words_in_a_3_window = {word0c,word1c,word2c,word3c,word4c,word5c,word6c}
lemmas_in_a_3_window = {lemma0c,lemma1c,lemma2c,lemma3c,lemma4c,lemma5c,lemma6c}
NounRightWord sat => sense
ObjectToWord sat => sense
SubjectToWord sat => sense
NounModifierWord sat => sense
SiblingWord sat => sense
ObjectWord sat => sense
ObjectToPrepositionWord sat => sense
PrepositionWord sat => sense
DominatingNounWord sat => sense
NounRightLemma sat => sense
ObjectToLemma sat => sense
SubjectToLemma sat => sense
NounModifierLemma sat => sense
SiblingLemma sat => sense
ObjectLemma sat => sense
ObjectToPrepositionLemma sat => sense
PrepositionLemma sat => sense
DominatingNounLemma sat => sense

NounRightWord sense sat => sense
ObjectToWord sense sat => sense
SubjectToWord sense sat => sense
NounModifierWord sense sat => sense
SiblingWord sense sat => sense
ObjectWord sense sat => sense
ObjectToPrepositionWord sense sat => sense
PrepositionWord sense sat => sense
DominatingNounWord sense sat => sense
NounRightLemma sense sat => sense
ObjectToLemma sense sat => sense
SubjectToLemma sense sat => sense
NounModifierLemma sense sat => sense
SiblingLemma sense sat => sense
ObjectLemma sense sat => sense
ObjectToPrepositionLemma sense sat => sense
PrepositionLemma sense sat => sense
DominatingNounLemma sense sat => sense

#lemma2l sat => sense
lemma1l sat => sense
lemma1r sat => sense
#lemma2r sat => sense
word0 sat => sense
pos0 sat => sense
lemma1l lemma1r sat => sense
lemma2l lemma1l sat => sense
lemma1r lemma2r sat => sense
lemma0 lemma1r lemma2r sat => sense
lemma2l lemma1l lemma0 sat => sense
lemma3l lemma2l lemma1l lemma0 sat => sense
lemma0 lemma1r lemma2r lemma3r sat => sense
lemma0 lemma1r lemma3r sat => sense
lemma3l lemma1l lemma0 sat => sense
lemma3l lemma2l pos1l sat => sense
pos1r lemma2r lemma3r sat => sense
#word2l sat => sense
word1l sat => sense
word1r sat => sense
#word2r sat => sense
word1l word1r sat => sense
word2l word1l sat => sense
word1r word2r sat => sense
word2r word1l sat => sense
word1r word2l sat => sense
word0 word1r word2r sat => sense
word2l word1l word0 sat => sense
word3l word2l word1l word0 sat => sense
word3l word2l word1l sat => sense
word0 word1r word2r word3r sat => sense
word1r word2r word3r sat => sense
word1r word3r sat => sense
word3l word1l sat => sense
pos0 lemma1r pos2r sat => sense
pos0 pos1r lemma2r sat => sense
pos2l pos1l pos0 sat => sense
pos2l lemma1l pos0 sat => sense
lemma2l pos1l pos0 sat => sense
#lemma2r pos0 sat => sense
lemma1l pos0 sat => sense
#lemma2l pos0 sat => sense
lemma2l lemma1l pos0 sat => sense
lemma1r pos0 sat => sense
#lemma2r pos0 sat => sense
lemma2l lemma1l pos0 sat => sense

$words_in_a_3_window pos0 sat => sense
$words_in_a_3_window sat => sense
$lemmas_in_a_3_window pos0 sat => sense
$lemmas_in_a_3_window sat => sense
$lemmas_in_a_3_window $words_in_a_3_window sat => sense
$lemmas_in_a_3_window $lemmas_in_a_3_window sat => sense
$words_in_a_3_window $words_in_a_3_window sat => sense
$words_in_a_3_window $words_in_a_3_window $words_in_a_3_window sat => sense

$words_in_a_20_window pos0 sat => sense
$words_in_a_20_window sat => sense
$lemmas_in_a_20_window pos0 sat => sense
$lemmas_in_a_20_window sat => sense
$lemmas_in_a_20_window $words_in_a_20_window sat => sense
$lemmas_in_a_20_window $lemmas_in_a_20_window sat => sense
$words_in_a_20_window $words_in_a_20_window sat => sense
#$words_in_a_20_window $words_in_a_20_window $words_in_a_20_window sat => sense
#lemma2r lemma1l sat => sense
#lemma1r lemma2l sat => sense

#word2l sense sat => sense
word1l sense sat => sense
word1r sense sat => sense
#word2r sense sat => sense
word1l word1r sense sat => sense
word2l word1l sense sat => sense
word1r word2r sense sat => sense
word2r word1l sense sat => sense
word1r word2l sense sat => sense
word0 word1r word2r sense sat => sense
word2l word1l word0 sense sat => sense
#lemma2l sense sat => sense
lemma1l sense sat => sense
lemma1r sense sat => sense
#lemma2r sense sat => sense
lemma1l lemma1r sense sat => sense
lemma2l lemma1l sense sat => sense
lemma1r lemma2r sense sat => sense
lemma0 lemma1r lemma2r sense sat => sense
lemma2l lemma1l lemma0 sense sat => sense
lemma2r lemma1l sense sat => sense
lemma1r lemma2l sense sat => sense
word0 sense sat => sense

pos0 lemma1r pos2r sense sat => sense
pos0 pos1r lemma2r sense sat => sense
pos2l pos1l pos0 sense sat => sense
pos2l lemma1l pos0 sense sat => sense
lemma2l pos1l pos0 sense sat => sense
pos0 sense sat => sense

#lemma2r pos0 sense sat => sense
lemma1l pos0 sense sat => sense
#lemma2l pos0 sense sat => sense
lemma2l lemma1l pos0 sense sat => sense
lemma1r pos0 sense sat => sense
lemma2l lemma1l pos0 sense sat => sense

$words_in_a_3_window pos0 sense sat => sense
$words_in_a_3_window sense sat => sense
$lemmas_in_a_3_window pos0 sense sat => sense
$lemmas_in_a_3_window sense sat => sense
$lemmas_in_a_3_window $words_in_a_3_window sense sat => sense
$lemmas_in_a_3_window $lemmas_in_a_3_window sense sat => sense
$words_in_a_3_window $words_in_a_3_window sense sat => sense
$words_in_a_3_window $words_in_a_3_window $words_in_a_3_window sense sat => sense

$words_in_a_20_window pos0 sense sat => sense
$words_in_a_20_window sense sat => sense
$lemmas_in_a_20_window pos0 sense sat => sense
$lemmas_in_a_20_window sense sat => sense
$lemmas_in_a_20_window $words_in_a_20_window sense sat => sense

#pos1l sat => sense
#pos2l sat => sense
#pos2l pos1l sat => sense
#pos1r sat => sense
#pos2r sat => sense
#pos1r pos2r sat => sense
#pos0 pos1r pos2r sat => sense

pos1l sense sat => sense
pos2l sense sat => sense
pos2l pos1l sense sat => sense
pos1r sense sat => sense
pos2r sense sat => sense
pos1r pos2r sense sat => sense
pos0 pos1r pos2r sense sat => sense
