word_0 word_1 /remote/bigram/usr/home/rflorian/fnTBL-releases/fnTBL/trained/english-POS-temp/bigrams.dat
word_-1 word_0 /remote/bigram/usr/home/rflorian/fnTBL-releases/fnTBL/trained/english-POS-temp/bigrams.dat
